/*Education Section*/
.education {
    flex-direction: column;
}

/*Container*/
.academic-container{
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: stretch;
}

/*Academic block*/
.academic {
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
}

/*Academic Cards*/
.aca-card {
    width: 100%;
    padding: 22px;
    border-radius: 12px;
    margin: 5px;

    background: #f5f5f6;
    
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}

.aca-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}



/*Academic Card Content*/
.aca-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 20px;
    font-weight: 600;
    color: #091d41;
}

.time {
    color: #777;
    font-size: 14px;
    white-space: nowrap;
}

.aca-card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.institute {
    font-size: 16px;
    color: #333;
}

.grade {
    font-size: 15px;
    font-weight: 600;
    color:#000;
    white-space: nowrap;
    
}

.aca-card-summary {
    margin-top: 12px;
    font-size: 15px;
    color: #6b7280;
    line-height: 1;
}


/*Certification block*/
.certifications {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.certifications h2 {
     color: #091d41;
    font-size: 20px;
    margin-bottom: 4px;
    margin-top: 1;
}

/*Certification Card*/
.cert-card {
    padding: 15px 18px;
    border-radius: 10px;

    background: #f5f5f6;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.cert-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/*Certification Card Content*/
.cert-titles {
    font-size: 15px;
    font-weight: 500;
    color:#111;
}

.cert-org {
    display: block;
    font-size: 13px;
    margin-top: 4px;
    color: #777;
}
